<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Triangles.Code.Properties.Settings.GlebT_TrianglesConnectionString"
            connectionString="Data Source=sql-active\sql2008;Initial Catalog=GlebT_Triangles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Triangles.Code.Properties.Settings.GlebT_TrianglesConnectionString1"
            connectionString="Data Source=sql-active\sql2008;Initial Catalog=GlebT_Triangles;Persist Security Info=True;User ID=csldatareader;Password=csldatareader"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>