@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = "Index";
}

<h2>Треугольники</h2>

Этот сайт предназначен для автоматического расчета долгов при коллективных затратах, например когда вы компанией закупаетесь на новый год, а расходы делите между всеми.<br />
Для начала, добавьте все расходы в таблицу, для этого нажмите кнопку "Создать новую запись".<br />
Участников, которые ничего не потратили, стоит внести тоже, иначе как мы узнаем, между кем распределять расходы? Просто оставьте ноль в поле Сумма для таких товарищей.<br />
После ввода всех затрат вы можете узнать кто кому и сколько должен двумя способами: с общим котлом и без него.<br />
<br />

@{ Html.RenderAction("Show", "Expenditures", new {sessionUrl = Model}); }

@{ Html.RenderAction("Show", "Receipts", new {sessionUrl = Model}); }

&copy;&nbsp;Gleb Teterin

@(Html.Telerik().ScriptRegistrar())