@model string

@{
	Layout = "";
}

<h2>Чеки</h2>

@Html.RouteLink("Расчет по чекам", "Calculation", new { controller = "Calculation", action = "Receipts", sessionurl = Model })


<script type="text/javascript">
    function expandFirstRow(grid, row) {
        if (grid.$rows().index(row) == 0) {
            grid.expandRow(row);
        }
    }

    function receipts_onRowDataBound(e) {
        var row = e.row;
        var dataItem = e.dataItem;

        var partRowContent = "<table>";
        var receiptSum = 0;
        for (var i = 0; i < dataItem.Records.length; ++i) {
            receiptSum += dataItem.Records[i].Amount;
            partRowContent += "<tr><td>"+dataItem.Records[i].Participant+"<td><td>"+dataItem.Records[0].Amount+"<td></tr>";
        }
        partRowContent += "</table>";

        var rowContent = "<div>Чек на " + receiptSum + "оплатил <strong>" + dataItem.Payer + "</strong></div>" + partRowContent;

        $(".receipt-details", row).html(rowContent);
        
        var grid = $(this).data('tGrid');
        expandFirstRow(grid, e.row);
    }

    function receiptRecords_onRowDataBound(e) {
        var grid = $(this).data('tGrid');
        expandFirstRow(grid, e.row);
    }
</script>
