@model string

@{
	Layout = null;
}

<h2>By Receipts</h2>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2">
				<input class="span2" type="text" placeholder="Payer" value="Глеб" />
			</div>
			<div class="span9 offset1">
				<input class="span9" type="text" placeholder="Description" value="Описание" />
			</div>
		</div>
	
		<div class="row">
			<div class="span2 offset1">
				<input class="span2" type="text" placeholder="Participant name" value="Альбина" />
			</div>
			<div class="span9">
				<input class="span2" type="text" placeholder="Participant name" value="10000" />
			</div>
		</div>
		<div class="row">
			<div class="span2 offset1">
				<input class="span2" type="text" placeholder="Participant name" value="Данил" />
			</div>
			<div class="span9">
				<input class="span2" type="text" placeholder="Participant name" value="20000" />
			</div>
		</div>
		<div class="row">
			<div class="span2 offset1">
				<input class="span2" type="text" placeholder="Participant name" value="" />
			</div>
			<div class="span9">
				<input class="span2" type="text" placeholder="Participant debt" value="" />
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="row">
			<div class="span2">
				<input class="span2" type="text" placeholder="Payer" value="Глеб" />
			</div>
			<div class="span9 offset1">
				<input class="span9" type="text" placeholder="Description" value="Описание" />
			</div>
		</div>
	
		<div class="row">
			<div class="span2 offset1">
				<input class="span2" type="text" placeholder="Participant name" value="Альбина" />
			</div>
			<div class="span9">
				<input class="span2" type="text" placeholder="Participant name" value="10000" />
			</div>
		</div>
		<div class="row">
			<div class="span2 offset1">
				<input class="span2" type="text" placeholder="Participant name" value="Данил" />
			</div>
			<div class="span9">
				<input class="span2" type="text" placeholder="Participant name" value="20000" />
			</div>
		</div>
		<div class="row">
			<div class="span2 offset1">
				<input class="span2" type="text" placeholder="Participant name" value="" />
			</div>
			<div class="span9">
				<input class="span2" type="text" placeholder="Participant debt" value="" />
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span2 offset1">&nbsp;</div>
</div>
<div class="row">
	<div class="span3">
		<button class="btn btn-smal">+Receipt</button>
	</div>
</div>

<br/>
@Html.RouteLink("Calculate!", "Calculation", new { controller = "Calculation", action = "Receipts", sessionurl = Model }, new {@class = "btn btn-large btn-primary"})

<script type="text/javascript">
    function expandFirstRow(grid, row) {
        if (grid.$rows().index(row) == 0) {
            grid.expandRow(row);
        }
    }

    function receipts_onRowDataBound(e) {
        var row = e.row;
        var dataItem = e.dataItem;

        var partRowContent = "<table>";
        var receiptSum = 0;
        for (var i = 0; i < dataItem.Records.length; ++i) {
            receiptSum += dataItem.Records[i].Amount;
            partRowContent += "<tr><td>"+dataItem.Records[i].Participant+"<td><td>"+dataItem.Records[0].Amount+"<td></tr>";
        }
        partRowContent += "</table>";

        var rowContent = "<div>Чек на " + receiptSum + "оплатил <strong>" + dataItem.Payer + "</strong></div>" + partRowContent;

        $(".receipt-details", row).html(rowContent);
        
        var grid = $(this).data('tGrid');
        expandFirstRow(grid, e.row);
    }

    function receiptRecords_onRowDataBound(e) {
        var grid = $(this).data('tGrid');
        expandFirstRow(grid, e.row);
    }
</script>
