@using Triangles.Web.Models

@model ExpendituresModel
@{
	Layout = null;
}

<div id="expenditureCalcButtons">
@{ if (Model.Expenditures.Any())
   {
   	@Html.RouteLink("Расчет с общим котлом", "Calculation", new { controller = "Calculation", action = "CommonFund", sessionurl = Model.SessionUrl })<text>&nbsp;</text>
   	@Html.RouteLink("Расчет с денежными потоками", "Calculation", new { controller = "Calculation", action = "Flows", sessionurl = Model.SessionUrl })
   }
}
</div>

<script type="text/javascript">
    function onExpenditureSave(e) {
        $('#expenditureCalcButtons').show();
    }
</script>
