@using System.Collections
@using Triangles.Web.Models

@model ExpendituresModel
@{
    Layout = "";
}


@Html.ActionLink("Новая сессия", "NewSession", "Home")&nbsp;
<div id="expenditureCalcButtons">
@{ if (Model.Expenditures.Any())
   {
   	@Html.RouteLink("Расчет с общим котлом", "Calculation", new { controller = "Calculation", action = "CommonFund", sessionurl = Model.SessionUrl })<text>&nbsp;</text>
   	@Html.RouteLink("Расчет с денежными потоками", "Calculation", new { controller = "Calculation", action = "Flows", sessionurl = Model.SessionUrl })
   }
}
</div>
<br />
<br />


)
<br />

<script type="text/javascript">
    function onExpenditureSave(e) {
        $('#expenditureCalcButtons').show();
    }
</script>
