@using Telerik.Web.Mvc.UI

@model Triangles.Web.Models.ExpendituresModel

@{
    ViewBag.Title = "Треугольники";
}

<h2>Треугольники</h2>


Этот сайт предназначен для автоматического расчета долгов при коллективных затратах, например когда вы компанией закупаетесь на новый год, а расходы делите между всеми.<br />
Для начала, добавьте все расходы в таблицу, для этого нажмите кнопку "Создать новую запись".<br />
Участников, которые ничего не потратили, стоит внести тоже, иначе как мы узнаем, между кем распределять расходы? Просто оставьте ноль в поле Сумма для таких товарищей.<br />
После ввода всех затрат вы можете узнать кто кому и сколько должен двумя способами: с общим котлом и без него.<br />
<br />

@Html.ActionLink("Новая сессия", "NewSession")&nbsp;
@{ if (Model.Expenditures.Any())
   {
   	@Html.RouteLink("Расчет с общим котлом", "Calculation", new { controller = "Calculation", action = "CommonFund", sessionurl = Model.SessionUrl })<text>&nbsp;</text>
   	@Html.RouteLink("Расчет с денежными потоками", "Calculation", new { controller = "Calculation", action = "Flows", sessionurl = Model.SessionUrl })
   }
}
<br />
<br />

	@(Html.Telerik().Grid(Model.Expenditures)
    .Name("Grid")
    .Localizable("ru-RU")
    .ToolBar(commands => commands.Insert())
    .DataKeys(keys => keys.Add(c => c.Id))
    
    .DataBinding(dataBinding => dataBinding.Server()
    .Select("WorkSession", "Expenditures")
    .Insert("Insert", "Expenditures")
    .Update("Save", "Expenditures")
    .Delete("Delete", "Expenditures"))

    .Columns(columns =>
    {
        columns.Bound(o => o.Who).Title("Кто").Width(200);
        columns.Bound(o => o.Amount).Title("Сумма").Width(200);
        columns.Bound(o => o.Description).Title("Примечание");
        columns.Command(commands =>
        {
            commands.Edit().ButtonType(GridButtonType.Text);
            commands.Delete().ButtonType(GridButtonType.Text);
        }).Width(200);

    })
    .Sortable(sorting => sorting.Enabled(true))
    .Editable(editing => editing.Mode(GridEditMode.InForm))

)
<br />
&copy;&nbsp;Gleb Teterin