@using Triangles.Web.Models
@model CalculationModel

@{
    ViewBag.Title = "Треугольники / Расчет с денежными потоками";
}

<h2>Расчет с денежными потоками</h2>

<table>
    <tr>
        <td>Кто</td>
        <td>Кому</td>
        <td>Сумма</td>
    </tr>

    @{ foreach (var transfer in Model.Transfers)
       {
           
           <tr>
                <td>@transfer.From</td>
                <td>@transfer.To</td>
                <td>@transfer.Amount</td>
           </tr>
       }
    }
</table>

@Html.ActionLink("Вернуться к затратам", "Index", "Home", new { sessionurl = Model.SessionUrl }, null)